<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trang chủ Blog</title>
    <!-- Sửa đường dẫn vì style.css nằm trực tiếp trong public -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>Danh sách bài viết</h1>
    <a href="/blogposts/new" class="btn"> + Tạo bài viết mới</a>
    <hr>

    <div class="post-list">
        <% posts.forEach(post => { %>
            <div class="post-card">
                <a href="/blogposts/<%= post._id %>">
                    <h2><%= post.title %></h2>
                </a>
                <p><%= post.body.substring(0, 100) %>...</p>
                <div class="post-meta">
                    <a href="/blogposts/<%= post._id %>">Xem chi tiết</a>
                </div>
            </div>
        <% }) %>
    </div>

</body>
</html>
