<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chi tiết bài viết</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="post-card"> 
        <h1><%= post.title %></h1>
        <hr>
        <div style="font-size: 1.1em; line-height: 1.8; color: #444;">
            <%= post.body %>
        </div>
    </div>
    
    <br>
    <a href="/" class="btn"> << Quay lại trang chủ</a>
</body>
</html>
